[Desktop Entry]
Name=NovelVM
Comment=Interpreter for several 3D games
Exec=novelvm
Icon=novelvm
Terminal=false
Type=Application
Categories=Game;AdventureGame;
StartupNotify=false
